/*  Elements  */
body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    overflow: hidden;
    background-color: rgb(1, 82, 82);
    font-family: Consolas, 'Courier New', Courier, monospace;
    color: #EFF0D1;
}

/*  Styles by ID */
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 200px;
  height: 25px;
  background-color: #0F7173;
  -webkit-app-region: drag;  
  padding-top: 3px;
  padding-left: 3px;
}

#area {
  float: left;
  margin-right:10px;
}

#time {
  border-left: solid 1px #E9E3B4;
  padding-left: 9px;
  float: left;
}

#sidetop {
  position: absolute;
  right: 0;
  top: 0;
  height: 68%;
  width: 200px;
  background-color: #0F7173;
}

#sidebottom {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 31.9%;
  width: 35%;
  padding-left: 5px;
  padding-top: 2px;
  background-color: #0F7173;
  opacity: 0.5;
  min-width: 300px;
}

#game {
  position: absolute;
  top: 25px;
  bottom: 25px;
  left: 0;
  right: 200px;
}

#zelazny {
  z-index: 1000;
  overflow-y: scroll;

  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;

  background-color: #211A1D;
  color: #F8F0FB;
  border: solid 1px #DFF2D8;
  padding: 3px 3px 3px 3px;
  font-family: Helvetica, Georgia, Cochin, Times, 'Times New Roman', serif;
  font-size: 13pt;
}

/*  Misc CSS classes  */
.log-item {
  display: block;
  margin-bottom: 5px;
  font-family: Helvetica, Georgia, Cochin, Times, 'Times New Roman', serif;
  font-size: 12pt;
}

.help-journal {
  font-family: Helvetica, Georgia, Cochin, Times, 'Times New Roman', serif;
  font-size: 12pt;
}

/*  Zelazny styles   */
.action-link {
  color: #5EF38C;
  cursor: pointer;
}
.action-span {
  display: none;
}
.zelazny-close {
  cursor: pointer;
  color: #D0FCB3;
}

 /*   Scroll Bar  */
 .scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: #7E7F83;
}

.scroll::-webkit-scrollbar-thumb {
  background: #B4C5E4;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #DFF2D8;
}