body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    overflow: hidden;
    background-color: rgb(1, 82, 82);
    font-family: Consolas, 'Courier New', Courier, monospace;
    color: #EFF0D1;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 200px;
  height: 25px;
  background-color: #0F7173;
  -webkit-app-region: drag;  
  padding-top: 3px;
  padding-left: 3px;
}

#sidetop {
  position: absolute;
  right: 0;
  top: 0;
  height: 68%;
  width: 200px;
  background-color: #0F7173;
}

#sidebottom {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 31.9%;
  width: 35%;
  padding-left: 5px;
  padding-top: 2px;
  background-color: #0F7173;
  opacity: 0.5;
  min-width: 300px;
}

#game {
  position: absolute;
  top: 25px;
  bottom: 25px;
  left: 0;
  right: 200px;
}

#zelazny {
  z-index: 1000;
  position: absolute;
  top: 25px;
  left: 25px;
  height: 50px;
  width: 200px;
  background-color: #7E7F83;
  color: #211A1D;
  border: solid 1px #DFF2D8;
  padding: 3px 3px 3px 3px;
}

.log-item {
  display: block;
  margin-bottom: 5px;
  font-family: Helvetica, Georgia, Cochin, Times, 'Times New Roman', serif;
  font-size: 12pt;
}

.help-journal {
  font-family: Helvetica, Georgia, Cochin, Times, 'Times New Roman', serif;
  font-size: 12pt;
}